body {
    text-align: center;
    width: 100%;
    background-color:gray;
  }

  .game {
    display: flex;
    justify-content:space-around;
  }

  #game-board {
    width: 1400px;
    height: 700px;
    border: 1px solid black;
    margin: 100px 0px 0px 0px;
  }

  

  body button {
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin: 20px;
  }